<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>รายละเอียดสินค้า | TU Store</title>

    <link rel="icon" type="image/png" href="/img/Logo.png">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/payment.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
<!--  Navbar บนสุด  -->
<nav class="nav-top">
    <div class="right-buttons">
        <div class="user-menu">
            <button class="user-btn" id="user-btn">
                <span class="user-text" th:text="${session.username != null} ? ${session.username} : 'Guest'">Guest</span>
                <div class="user-icon"><i class="fa-solid fa-user"></i></div>
            </button>

            <div class="dropdown" id="user-dropdown" th:if="${session.username != null}">
                <i class="fa-solid fa-xmark close" id="close-dropdown"></i>
                <div class="avatar"><i class="fa-solid fa-user"></i></div>
                <h4 th:text="${username}">ชื่อบัญชีผู้ใช้</h4>
                <div class="info">
                    <p><i class="fa-solid fa-envelope"></i> <span th:text="${email}">username@gmail.com</span></p>
                    <p><i class="fa-solid fa-phone"></i> <span th:text="${phone}">xxx-xxx-xxxx</span></p>
                </div>
                <button class="logout-btn" id="logout-btn">ออกจากระบบ</button>
            </div>
        </div>
        <a th:href="@{/cart}" class="cart-icon">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
    </div>
</nav>
<div class="left-logo">
    <img th:src="@{/img/Logo.png}" alt="TU Store Logo">
</div>



<!-- ======= Navbar ล่าง ======= -->
  <nav class="nav-bottom">
    <ul class="menu">
        <li><a th:href="@{/buyerTemp}">หน้าหลัก</a></li>

        <li class="dropdown-category">
        <a href="#" class="dropdown-toggle">หมวดหมู่สินค้า <i class="fa-solid fa-chevron-down"></i></a>
        <div class="overlay"></div>
        <div class="dropdown-content">
              <a th:href="@{'/category/' + 'SHIRT'}">เสื้อ</a>
              <a th:href="@{'/category/' + 'BAG'}">กระเป๋า</a>
              <a th:href="@{'/category/' + 'STUDENT_UNIFORM'}">เครื่องแบบนักศึกษา</a>
              <a th:href="@{'/category/' + 'GENERAL_PURPOSE'}">ของใช้ทั่วไป</a>
              <a th:href="@{'/category/' + 'MEMORABILIA'}">ของที่ระลึก</a>
        </div>
      </li>

      <li><a th:href="@{/order-status-check}">เช็คสถานะ</a></li>
      <li><a href="#">ติดต่อเรา</a></li>
      <li><a href="#" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    </ul>

    <div class="search-bar-replacement">
      <div class="search-input-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="search-input" placeholder="ค้นหาสินค้าที่คุณต้องการ...">
        <div id="search-suggestions" class="suggestions-list"></div>
      </div>

      <button class="search-close-btn" id="search-close">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <button id="filter-icon" class="search-filter-btn">
         <i class="fa-solid fa-filter"> ตัวกรอง</i>
      </button>
    </div>

  </nav>


<br>


<!--  ส่วนเลือกการชำระเงิน  -->
<main class="payment-container"
      th:attr="data-order-id=${order != null} ? ${order.orderId} : null, data-amount=${order != null} ? ${order.totalPrice} : null">
    <h1>เลือกวิธีการชำระเงิน</h1>

    <div class="payment-box">
        <button class="method" id="qrMethodBtn">QR Payment</button>

        <div class="method">
            <button><i class="fa-brands fa-cc-visa"></i></button>
            <div>
                <b>Pay by card</b>
                <p>To pay, please enter your VISA, MasterCard or Maestro payment card information.</p>
            </div>
        </div>

        <div class="method">
            <i class="fa-solid fa-building-columns"></i>
            <div>
                <b>Pay via internet banking</b>
                <p>Do you have access to internet banking and want to pay immediately? Just select your bank and make the payment.</p>
            </div>
        </div>
        <!-- Popup แจ้งเตือนระบบยังไม่รองรับ -->
        <div class="unsupported-popup" id="unsupportedPopup" style="display:none;">
            <div class="unsupported-card">
                <p>ระบบยังไม่รองรับการชำระเงินด้วยวิธีนี้<br>กรุณาชำระเงินด้วยวิธีอื่น</p>
                <button id="closeUnsupportedBtn" class="btn-close">ตกลง</button>
            </div>
        </div>

    </div>
    <!--  QR Payment Popup -->
    <div class="qr-popup" id="qrPopup">
    <div class="qr-card">
        <span class="close-qr-btn" id="closeQrBtn">&times;</span>
        
        <img src="/img/qrcode.jpg" alt="QR Code">
        <h2>โปรดชำระเงินภายในเวลา</h2>
        <p class="countdown"><span id="countdown">60</span> วินาที</p>
        <p class="desc">เมื่อชำระเงินเสร็จสิ้นแล้ว กรุณารอการยืนยัน</p>
        <div class="button-group">
            <button id="confirmBtn" class="btn-confirm">ยืนยันการชำระเงิน</button>
            <button id="newQRBtn" class="btn-newqr" style="display:none;">สร้าง QR ใหม่</button>
        </div>
    </div>
</div>

        <!--  Loading -->
        <div class="loading-card" id="loadingCard" style="display:none;">
            <div class="spinner"></div>
            <p>กำลังดำเนินการ</p>
        </div>

        <!--  Success -->
        <div class="result-card success" id="successCard" style="display:none;">
            <div class="icon success-icon"><i class="fa-solid fa-check"></i></div>
            <h3 class="title">Payment Success!</h3>
            <p class="amount">350 Baht</p>

            <div class="detail-list">
                <p><span>หมายเลขคำสั่งซื้อ</span><b>000085752257</b></p>
                <p><span>เวลาที่ชำระเงิน</span><b>25-02-2023, 13:22:16</b></p>
                <p><span>วิธีชำระเงิน</span><b>QR payment</b></p>
                <p><span>ชื่อผู้ซื้อ</span><b>Antonio Roberto</b></p>
                <p><span>ราคารวม</span><b>350 THB</b></p>
                <button class="redirect-btn" id="successRedirectBtn">กลับไปหน้าหลัก</button>
            </div>
        </div>


        <!--  Fail -->
        <div class="result-card fail" id="failCard" style="display:none;">
            <div class="icon fail-icon"><i class="fa-solid fa-xmark"></i></div>
            <h3 class="title">Payment Fail!</h3>
            <p class="amount">350 THB</p>
            <p class="error-text">กรุณาทำรายการใหม่อีกครั้ง</p>

            <div class="detail-list">
                <p><span>หมายเลขคำสั่งซื้อ</span><b>000085752257</b></p>
                <p><span>เวลาที่ชำระเงิน</span><b>25-02-2023, 13:22:16</b></p>
                <p><span>วิธีชำระเงิน</span><b>QR payment</b></p>
                <p><span>ชื่อผู้ซื้อ</span><b>Antonio Roberto</b></p>
                <p><span>ราคารวม</span><b>350 BTH</b></p>
                <button class="redirect-btn retry" id="failRedirectBtn">ลองอีกครั้ง</button>
            </div>
        </div>

    </div>

</main>
<!-- ======================= FILTER OVERLAY ======================= -->

  <div id="filter-overlay" class="overlay-container">
      <div class="modal-content">

          <div class="filter-headbar">
              <h3>
                <i class="fa-solid fa-filter"></i>
                <span>ตัวกรอง</span>
              </h3>

              <div class="filter-categories">
                  <div class="category-row">
                    <div class="category-label">
                        <span>หมวดหมู่ :</span>
                    </div>

                    <div class="category-buttons">
                        <button class="cat-btn" data-category="SHIRT">เสื้อ</button>
                        <button class="cat-btn" data-category="BAG">กระเป๋า</button>
                        <button class="cat-btn" data-category="STUDENT_UNIFORM">เครื่องแบบนักศึกษา</button>
                        <button class="cat-btn" data-category="GENERAL_PURPOSE">ของใช้ทั่วไป</button>
                        <button class="cat-btn" data-category="MEMORABILIA">ของที่ระลึก</button>
                    </div>
                  </div>
              </div>
          </div>

          <div class="filter-body">

              <!-- ช่วงราคา -->
              <div class="filter-section">
                  <h4>ช่วงราคา</h4>
                  <div class="price-range">
                      <input type="number" placeholder="ใส่ราคาต่ำสุด" id="min-price" class="price-input">
                      <a>-</a>
                      <input type="number" placeholder="ใส่ราคาสูงสุด" id="max-price" class="price-input">
                      <span class="price-unit">บาท</span>
                  </div>
              </div>

              <!-- สถานะสินค้า -->
              <div class="filter-section">
                  <h4>สถานะสินค้า</h4>
                  <div class="status-buttons">
                      <button class="status-btn" data-status="AVAILABLE">พร้อมจัดส่ง</button>
                      <button class="status-btn" data-status="PRE_ORDER">PRE-ORDER</button>
                  </div>
              </div>

              <!-- คะแนน -->
              <div class="filter-section">
                  <h4>คะแนน</h4>
                  <div class="rating-buttons">
                      <button class="rating-btn" data-rating="5">5 ⭐</button>
                      <button class="rating-btn" data-rating="4">4 ⭐</button>
                      <button class="rating-btn" data-rating="3">3 ⭐</button>
                      <button class="rating-btn" data-rating="2">2 ⭐</button>
                      <button class="rating-btn" data-rating="1">1 ⭐</button>
                  </div>
              </div>

              <!-- ปุ่มตกลง -->
              <button class="filter-confirm-btn" id="filter-confirm-button">ตกลง</button>

          </div>
      </div>
  </div>
<script>
// =========================== CATEGORY DROPDOWN ===========================
document.addEventListener("DOMContentLoaded", function() {
    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdownContent = document.querySelector('.dropdown-content');
    const overlay = document.querySelector('.overlay');

    if (dropdownToggle) {
        dropdownToggle.addEventListener('click', function(e) {
            e.preventDefault();
            dropdownContent.classList.toggle('show');
            overlay.classList.toggle('show');
        });
    }

    if (overlay) {
        overlay.addEventListener('click', function() {
            dropdownContent.classList.remove('show');
            overlay.classList.remove('show');
        });
    }
});
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const closeQrBtn = document.getElementById("closeQrBtn");
    const qrPopup = document.getElementById("qrPopup");

    if (closeQrBtn && qrPopup) {
        closeQrBtn.addEventListener("click", function() {
            qrPopup.style.display = "none";
        });
    }

});
</script>
<script th:src="@{/js/main.js}" defer></script>
<script th:src="@{/js/payment.js}" defer></script>
<script th:src="@{/js/search.js}" defer></script>
</body>
</html>

